.name{
	text-decoration: bold;
	text-align: center;
	border-bottom-style: solid;
	border-bottom: solid black 5px;
	color: black;
}

.objSent{
	font-size: 17px;
}

.descriptions{
	padding-top: 44px;
}

.dates{
	font-size: 20px;
	color:#008302;
}

.experiences{
	font-size: 20px;
	background-color: #F3EFE0;
    color: black;
}

body{
    background-color: #F3EFE0;
    color: black;
}

.titles{
	color: #F2460B;
}

.skills{
	padding-left: 40px;
}

/*///////////////////////////////////////////*/
.backgroundImg{
	background-image: url("/img/downtownATX.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

.pictureOpacity{
	/*opacity: 0.8;*/
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0px;
	left:0px;
	height: 726px;
	width: 100%;
    font-size: 28px;
    font-weight: bold;
}

.jumbotron .container {
	min-height: 610px;
	padding: 300px 180px 20px;  
}

.bigZ{
	color:white;
	text-align: center;
	font-size: 600px;
	margin-left: 500px;
	font-family: "Crimson Text", cursive;
	/*text-shadow: 1px 1px #008302;*/
}

.mobileZ{
	color:white;
	text-align: center;
	font-size: 600px;
	margin-left: 0;
	font-family: "Crimson Text", cursive;
	/*text-shadow: 1px 1px #008302;*/
}

.bigSentInPic{
	color:black;
	text-align: center;
	font-size: 55px;
	display: inline-block;
}

.jumbotron.backgroundImg p {
    margin-bottom: 15px;
}
.fa {
	font-size: 50px;
}

.no-bullets{
	list-style-type: none;
}