/*/////////////Borrowed CSS/////////////*/
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

* { 
	margin: 0;
	padding: 0px;
    font-family: 'Lato', sans-serif;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
	font-weight: bold;
}


::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a:hover,
a:focus {
  text-decoration: none;
  color:#696E74;
}

/*///////////master///////*/

.footerLineBreak{
	border-bottom: solid black 5px;
    color: black;
    border-radius: 10px;
}

.btn-default{
	border: 3px solid black;
}

.name{
	text-decoration: bold;
	text-align: center;
	border-bottom-style: solid;
	border-bottom: solid black 5px;
	color: black;
}

.objSent{
	font-size: 17px;
}

.descriptions{
	padding-top: 44px;
}

.dates{
	font-size: 20px;
	color:#008302;
}

.experiences{
	font-size: 20px;
	background-color: white;
    color: black;
}

hr{
	margin-right: 20px;
	margin-left: 20px;
}

body{
    color: black;
}

.titleBlog{
	color: #F2460B;
	font-size: 40px;
}

.aboutMe{
	padding-left: 50px;
}

.titles{
	color: #F2460B;
	font-size: 40px;
	font-weight: bold;
}

.skills{
	padding-left: 40px;
}

#profile{
	margin-left: 20px;
}

/*//////////////////BLOG.DEV/////////////////////////*/
.backgroundImg{
	background-image: url("/img/downtownATX.jpeg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
}

.pictureOpacity{
	/*opacity: 0.8;*/
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	left:0px;
	height: 726px;
	width: 100%;
    font-size: 28px;
    font-weight: bold;
}

.jumbotron .container {
	min-height: 610px;
	padding: 300px 180px 20px;  
}

.bigZ{
	display: inline-block;
}

.bigSentInPic{
	color:white;
	font-size: 40px;
	display: inline-block;
	z-index: 5;
}

.jumbotron.backgroundImg p {
    margin-bottom: 15px;
}

.faIcons{
	font-size: 50px;
	text-align: center;
}

.fa-file-text:before {
	font-size: 44px;
    color: #337ab7;
}

li{
	text-align: left;
}

hr{
	border-color: black;
}

/*////////////////////////////////////////*/

.titleOfBlog{
	border-bottom-style: solid;
}

.blogBody{
	border-bottom-style: solid;
}

.createPost{
	text-align: center;
}